<footer>
    <p>&copy; 2024 GodMur</p>
    <section class="phones">
        <a href="tel:+1234567890">+1 234 567 890</a>
        <a href="tel:+1234567890">+1 234 567 890</a>
    </section>
    <nav>
        <ul>
        <li><a href="#">Pagina Principal</a></li>
        <li><a href="#">Quienes Somos</a></li>
        <li><a href="#">Publicaciones</a></li>
        <li><a href="#">Contacto</a></li>
        </ul>
    </nav>
</footer>   