<header>
        <input type="checkbox" id="check">
        <label class="hamburger" for="check">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </label>
        <section class="branding">
            <img src="Imagenes/Ico.png" alt="logo">
            <h1>GodMur</h1>
        </section>
        <nav>
            <ul>
                <li><a href="#">Pagina Principal</a></li>
                <li><a href="#">Quienes Somos</a></li>
                <li><a href="#">Publicaciones</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>