<section class="quotes">
            <div class="left">
                <h2>Cotizar Servicios</h2>
                
                <form class="contact" action="" method="get">
                    <label for="name">Nombre</label>
                    <input type="text" name="name" id="name" placeholder="Name" required>
                    <label for="email">Correo</label>
                    <input type="email" name="email" id="email" placeholder="Email" required>
                    <label for="product">Tipo De Servico</label>
                    <select name="product" id="product">
                        <option value="bakery1">Reporteria</option>
                        <option value="bakery2">Pagina Web</option>
                        <option value="bakery3">Soporte Tecnico</option>
                        <option value="bakery4">Diseño Grafico</option>
                        <option value="bakery5">programación</option>
                    </select>